<div id="<%= dom_id product %>">
  <p>
    <strong>List of categories:</strong>
    <%= product.list_of_categories %>
  </p>

  <p>
    <strong>Subcategories:</strong>
    <%= product.subcategories %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= product.location %>
  </p>

</div>
